body, p, h1, h2 {
	font-family: 'Quicksand', sans-serif;
}

.main-container {
	margin: 0 auto;
	padding-top: 25px;
	text-align: center;
}

#audio {
	width: 960px;
	margin: 0 auto;
}

timeline canvas {
	margin-left: -480px;
}

.center {
	margin: 0 auto;
	width: 400px;
	text-align: center;
}

.chart {
	margin: 0 auto;
	text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    text-align: left;
		margin-left: 150px;
}

.logo{
  position: absolute;
  top: 50%;
  left: 33%;
  margin-top: 0px;
  margin-left: 0px;
	opacity: .3;
}​

.axis path,
.axis line {
	fill: none;
	stroke: #000;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
	  stroke: steelblue;
    stroke-width: 2px;
}

.muse-btn{
  text-transform:uppercase;
  font-weight:bold;
  border-radius:2px;
  background-color:transparent;
  border:3px solid #333;
  padding: 6px 12px;
	margin: 10px;
  transition:all 1s ease;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.muse-btn:hover, button:hover {
  outline:0;
  color:#FFF;
  background-color: #DCDCDC;
}

p {
  font-weight: 900;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.navigator .data {
    fill: lightgrey;
    stroke-width: 0px;
}

.navigator .line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1px;
}
